body {
        padding-top: 50px;
        color: #868688;
        background-color: #555;
        position: fixed;
        margin: 0px;
      }
      nav {
        background-color: #e7e7e7
      }
      nav a {
        color: #868688;
      }
      nav a:hover {
        color: #606062;
        text-decoration: none;
      }
      .navbar-toggle .icon-bar {
        background-color: #868688;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
      .video-js {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        top: 0px;
        position: fixed;

      }